<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @*<link rel="shortcut icon" href="~/Images/Logo/Logo_HR.ico" type="image/x-icon" />*@
    <title>Possession</title>
    @Styles.Render("~/Content/css")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}
</head>
<body class="hold-transition skin-blue sidebar-mini">

    <div class="wrapper">
        <!-- [BEGIN HEADER] -->
        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Admin_HomePage", "Admin")" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>P</b>ON</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Possession</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Content/adminlte/img/admin.png" class="user-image" alt="User Image">
                                <span class="hidden-xs"><b>Admin</b></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/Content/adminlte/img/admin.png" class="img-circle" alt="User Image">
                                    <p>
                                        Tran Van Cang - Admin
                                        <small>Member since Mar. 2023</small>
                                    </p>
                                </li>

                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="~/Login/Logout" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>

        <!-- [END HEADER] -->
        <!-- [BEGIN SIDEBAR]-->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Content/adminlte/img/admin.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>Tran Van Cang</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MAIN NAVIGATION</li>

                    <!-- Account -->
                    <li class="@Html.IsSelected(controller: "Admin") treeview">
                        <a href="@Url.Action("Account Management", "Admin")">
                            <i class="fa fa-dashboard"></i> <span>Account</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="@Html.IsSelected(action: "AddNewAccount")"><a href="@Url.Action("AddNewAccount", "Admin")"><i class="fa fa-circle-o"></i> Add new account</a></li>
                            <li class="@Html.IsSelected(action: "ListAccount")"><a href="@Url.Action("ListAccount", "Admin")"><i class="fa fa-circle-o"></i> List account</a></li>
                        </ul>
                    </li>

                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- [END SIDEBAR]-->

        @RenderBody()

        <!-- [BEGIN FOOTER]-->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Developed by Possession Team</b>
            </div>
            <strong>Copyright &copy; 2023.</strong> All rights reserved.
        </footer>
        <!-- [END FOOTER]-->




        <div class="control-sidebar-bg"></div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
