@model HR_Manager.Models.NhanVien
@{
    ViewBag.Title = "AddNewEmployee";
    Layout = "~/Views/HR/Layout_HR/Layout_HR.cshtml";
}

<div class="box box-info">
    <!-- form start -->
    @using (Html.BeginForm("AddNewEmployee", "HR", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
    {
        <form class="form-horizontal">
            <!-- /.box-body -->
            <div class="box-body">
                <div class="col-md-6 image-add-profile">
                    <div class="form-group">
                        <div class="file-upload">
                            <div class="image-upload-wrap">
                                <input name="ImageUpload" class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
                                <div class="image-icon-profile">
                                    <img src="~/Images/System/add-profile.png" style="height:360px" />
                                </div>
                            </div>
                            <div class="file-upload-content">
                                <img class="file-upload-image" src="#" alt="your image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.AnhDaiDienNV, "", new { @class = "text-danger" })


                <div class="col-md-6 form-information-employee">
                    <!-- /.box-header -->
                    <div class="header-add-employee">
                        <p>Add New Employee</p>
                    </div>
                    <div class="row">
                        <!--Họ Tên-->
                        <div class="col-md-6">
                            <fieldset>
                                <label for="HoTen" class="lable-add-employee">Full Name</label>
                                <div class="">
                                    @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </fieldset>
                        </div>

                        <!--Chức Vụ-->
                        <div class="col-md-6">
                            <fieldset>
                                <label for="ChucVu" class="lable-add-employee">Position</label>
                                <div class="">
                                    @Html.DropDownList("MaCV", null, "-- Position --", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MaCV, "", new { @class = "text-danger" })
                                </div>
                            </fieldset>
                        </div>

                        <!--Phòng Ban-->
                        <div class="col-md-6">
                            <fieldset>
                                <label for="PhongBan" class="lable-add-employee">Department</label>
                                <div class="">
                                    @Html.DropDownList("MaPB", null, "-- Department --", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MaPB, "", new { @class = "text-danger" })
                                </div>
                            </fieldset>
                        </div>

                        <!--CCCD-->
                        <div class="col-md-6">
                            <fieldset>
                                <label for="CCCD" class="lable-add-employee">Identify Citzen</label>
                                <div class="">
                                    @Html.EditorFor(model => model.CCCD, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CCCD, "", new { @class = "text-danger" })
                                </div>
                            </fieldset>
                        </div>

                        <!--Ngày Sinh-->
                        <div class="col-md-6">
                            <fieldset>
                                <label for="NgaySinh" class="lable-add-employee">D.O.B</label>
                                <div class="">
                                    @Html.TextBox("NgaySinh", null, new
                                   {
                                       @class = "form-control",
                                       @id = "NgaySinh",
                                       type = "date",
                                       placeholder = "mm/dd/yyyy"
                                   })
                                    @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                                </div>
                            </fieldset>
                        </div>

                        <!--Dân Tộc-->
                        <div class="col-md-6">
                            <fieldset>
                                <label for="DanToc" class="lable-add-employee">Nation</label>
                                <div class="">
                                    @Html.EditorFor(model => model.DanToc, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DanToc, "", new { @class = "text-danger" })

                                </div>
                            </fieldset>
                        </div>

                        <!--Tôn Giáo-->
                        <div class="col-md-6">
                            <fieldset>
                                <label for="TonGiao" class="lable-add-employee">Religion</label>
                                <div class="">
                                    @Html.EditorFor(model => model.TonGiao, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TonGiao, "", new { @class = "text-danger" })
                                </div>
                            </fieldset>
                        </div>

                        <!--Quê Quán-->
                        <div class="col-md-6">
                            <fieldset>
                                <label for="QueQuan" class="lable-add-employee">Hometown</label>
                                <div class="">
                                    @Html.EditorFor(model => model.QueQuan, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.QueQuan, "", new { @class = "text-danger" })
                                </div>
                            </fieldset>
                        </div>

                        <!--Nơi Ở Hiện Tại-->
                        <div class="col-md-6">
                            <fieldset>
                                <label for="NoiOHienTai" class="lable-add-employee">Residence</label>
                                <div class="">
                                    @Html.EditorFor(model => model.NoiOHienTai, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NoiOHienTai, "", new { @class = "text-danger" })
                                </div>
                            </fieldset>
                        </div>

                        <!--Số Điện Thoại-->
                        <div class="col-md-6">
                            <fieldset>
                                <label for="DienThoai" class="lable-add-employee">Phone Number</label>
                                <div class="">
                                    @Html.TextBox("DienThoai", null, new
                               {
                                   @class = "form-control",
                                   @id = "DienThoai",
                                   type = "tel",
                                   placeholder = " Enter phone number",
                               })
                                    @Html.ValidationMessageFor(model => model.DienThoai, "", new { @class = "text-danger" })
                                </div>
                            </fieldset>
                        </div>

                        <!--Email-->
                        <div class="col-md-6">
                            <fieldset>
                                <label for="Email" class="lable-add-employee">Email</label>
                                <div class="">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </fieldset>
                        </div>

                        <!--Trình độ học vấn-->
                        <div class="col-md-6">
                            <fieldset>
                                <label for="TrinhDoHocVan" class="lable-add-employee">Academic Level</label>
                                <div class="">
                                    @Html.EditorFor(model => model.TrinhDoHocVan, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TrinhDoHocVan, "", new { @class = "text-danger" })
                                </div>
                            </fieldset>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /.box-footer -->
            <div class="box-footer">
                <button class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-info pull-right">Add</button>
            </div>

        </form>
    }
</div>