@model HR_Manager.Models.PhieuDieuChuyen

@{
    ViewBag.Title = "AddTransferingDepartment";
    Layout = "~/Views/HR/Layout_HR/Layout_HR.cshtml";
}



        <!-- Horizontal Form -->
        <div class="box box-info">
            <!-- form start -->
            @using (Html.BeginForm())
            {
                <div class="form-horizontal">
                    <!-- /.box-body -->
                    <div class="box-body">
                        <div class="col-md-6 image-add-profile">
                            <div class="form-group">
                                <div class="file-upload">
                                    <div class="image-upload-wrap">
                                        <input name="ImageUpload" class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
                                        <div class="image-icon-profile">
                                            <img src="@ViewBag.hinhNV" class="img-staff" />
                                        </div>
                                    </div>
                                    <div class="file-upload-content">
                                        <img class="file-upload-image" src="#" alt="your image" />
                                        <div class="image-title-wrap">
                                            <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 form-information-employee">
                            <!-- /.box-header -->
                            <div class="header-add-employee">
                                <p>Transfer Department</p>
                            </div>
                            <div class="row-add">
                                <!--Mã Nhân Viên-->
                                <div class="col-md-6">
                                    <fieldset>
                                        <label for="manv" class="lable-add-employee">Mã Nhân Viên</label>
                                        <div class="">
                                            <input class="form-control" id="manv" type="text" value="@ViewBag.MaNVDC">
                                        </div>
                                    </fieldset>
                                </div>

                                <!--Tên phòng ban đang công tác-->
                                <div class="col-md-6">
                                    <fieldset>
                                        <label for="phongbancu" class="lable-add-employee">Tên Phòng Ban Đang Công Tác</label>
                                        <div class="">
                                            <input class="form-control" id="phongbancu" type="text" value="@ViewBag.phongbancu" >
                                        </div>
                                    </fieldset>
                                </div>

                                <!--Phòng ban chuyển đến-->
                                <div class="col-md-6">
                                    <fieldset>
                                        <label for="phongbanmoi" class="add-lower">Phòng Ban Chuyển Đến</label>
                                        <div class="">
                                            @Html.DropDownList("MaPB", null, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </fieldset>
                                </div>
                                
                                <!--Nội dung-->
                                <div class="col-md-6">
                                    <fieldset>
                                        <label for="noidung" class="add-lower">Nội dung</label>
                                        <div class="">
                                            @Html.EditorFor(model => model.NoiDung, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="">
                                    <fieldset>
                                        <div class="">
                                            @Html.HiddenFor(model => model.MaNV, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="">
                                    <fieldset>
                                        <div class="">
                                            @Html.HiddenFor(model => model.SoPhieuDC, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Add" class="btn btn-info add-btn" />
                                <input type="submit" value="Cancel" class="btn btn-default cancel-btn" />
                            </div>
                        </div>
                    </div>
                </div>
            }

          
        </div>
