@model HR_Manager.Models.NhanVien

@{
    ViewBag.Title = "UpdateEmployee";
    Layout = "~/Views/HR/Layout_HR/Layout_HR.cshtml";
}
<link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">

        <div class="box box-info">
            @using (Html.BeginForm("UpdateEmployee", "HR", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="col-md-6 image-add-profile">
                            <div class="form-group">
                                <div class="file-upload">
                                    <div class="image-upload-wrap">
                                        <input name="ImageUpload" class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
                                        <div class="image-icon-profile">
                                            <img class="image-information-detail" style="height:400px;width:400px" src="@ViewBag.hinhNV" alt="Ảnh Đại Diện Nhân Viên" />
                                        </div>
                                    </div>
                                    <div class="file-upload-content">
                                        <img class="file-upload-image" src="#" alt="your image" />
                                        <div class="image-title-wrap">
                                            <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 form-information-employee">
                            <!-- /.box-header -->
                            <div class="header-add-employee">
                                <p>Update Employee</p>
                            </div>
                            <div class="row">
                                <!--Mã Nhân Viên : Hidden-->
                                <div class="">
                                    <fieldset>
                                        <div class="">
                                            @Html.HiddenFor(model => model.MaNV, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </fieldset>
                                </div>

                                <!--Họ tên-->
                                <div class="col-md-6">
                                    <fieldset>
                                        <label for="HoTen" class="lable-add-employee">Họ Tên</label>
                                        <div class="" id="hoten_update">
                                            @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </fieldset>
                                </div>

                                <!--Chức vụ-->
                                <div class="col-md-6">
                                    <fieldset>
                                        <label for="ChucVu" class="lable-add-employee">Chức Vụ</label>
                                        <div class="" id="cv_update">
                                            @Html.DropDownList("MaCV", null, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </fieldset>
                                </div>

                                <!--Phòng ban-->
                                <div class="col-md-6">
                                    <fieldset>
                                        <label for="PhongBan" class="lable-add-employee">Phòng Ban</label>
                                        <div class="" id="pb_update">
                                            @Html.DropDownList("MaPB", null, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </fieldset>
                                </div>

                                <!--CCCD-->
                                <div class="col-md-6">
                                    <fieldset>
                                        <label for="CCCD" class="lable-add-employee">CCCD</label>
                                        <div class="" id="cccd_update">
                                            @Html.EditorFor(model => model.CCCD, new { htmlAttributes = new { @class = "form-control", data_val_remote = "false", data_val = "false" } })
                                        </div>
                                    </fieldset>
                                </div>

                                <!--Ngày sinh-->
                                <div class="col-md-6">
                                    <fieldset>
                                        <label for="NgaySinh" class="lable-add-employee">Ngày Sinh</label>
                                        <div class="" id="ngaysinh_update">
                                            @Html.TextBoxFor(model => model.NgaySinh, null, new
                                          {
                                              @class = "form-control",
                                              @id = "NgaySinh",
                                              type = "date",
                                              placeholder = "mm/dd/yyyy",
                                              style = "border-radius:6px"

                                          })
                                        </div>
                                    </fieldset>
                                </div>

                                <!--Dân tộc-->
                                <div class="col-md-6">
                                    <fieldset>
                                        <label for="DanToc" class="lable-add-employee">Dân Tộc</label>
                                        <div class="" id="dantoc_update">
                                            @Html.EditorFor(model => model.DanToc, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </fieldset>
                                </div>

                                <!--Tôn giáo-->
                                <div class="col-md-6">
                                    <fieldset>
                                        <label for="TonGiao" class="lable-add-employee">Tôn Giáo</label>
                                        <div class="" id="tongiao_update">
                                            @Html.EditorFor(model => model.TonGiao, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </fieldset>
                                </div>

                                <!--Quê quán-->
                                <div class="col-md-6">
                                    <fieldset>
                                        <label for="QueQuan" class="lable-add-employee">Quê Quán</label>
                                        <div class="" id="quequan_update">
                                            @Html.EditorFor(model => model.QueQuan, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </fieldset>
                                </div>

                                <!--Nơi ở hiện tại-->
                                <div class="col-md-6">
                                    <fieldset>
                                        <label for="NoiOHienTai" class="lable-add-employee">Nơi ở hiện tại</label>
                                        <div class="" id="noio_update">
                                            @Html.EditorFor(model => model.NoiOHienTai, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </fieldset>
                                </div>

                                <!--Số điện thoại-->
                                <div class="col-md-6">
                                    <fieldset>
                                        <label for="DienThoai" class="lable-add-employee">Số Điện Thoại</label>
                                        <div class="" id="dt_update">
                                            @Html.EditorFor(model => model.DienThoai, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </fieldset>
                                </div>

                                <!--Email-->
                                <div class="col-md-6">
                                    <fieldset>
                                        <label for="Email" class="lable-add-employee">Email</label>
                                        <div class="" id="email_update">
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", data_val_remote = "false", data_val = "false" } })
                                        </div>
                                    </fieldset>
                                </div>

                                <!--Trình độ học vấn-->
                                <div class="col-md-6">
                                    <fieldset>
                                        <label for="SoNgayNPConLai" class="lable-add-employee">Literacy</label>
                                        <div class="" id="tdhv_update">
                                            @Html.EditorFor(model => model.TrinhDoHocVan, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </fieldset>
                                </div>

                                <!--Số ngày nghỉ phép còn lại-->
                                <div class="col-md-6">
                                    <fieldset>
                                        <label for="SoNgayNPConLai" class="lable-add-employee">Số Ngày Nghỉ Phép còn lại</label>
                                        <div class="">
                                            @Html.EditorFor(model => model.SoNgayNPConLai, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </fieldset>
                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-info pull-right">Update</button>
                    </div>
                    <!-- /.box-footer -->

                </form>
            }

            <div>
                @Html.ActionLink("Back to List", "ListEmployee")
            </div>
        </div>


<script>
    $("#cccd_update").removeAttr("required");
    $("#email_update").removeAttr("required");
    $("#hoten_update").removeAttr("required");
    $("#cv_update").removeAttr("required");
    $("#pb_update").removeAttr("required");
    $("#ngaysinh_update").removeAttr("required");
    $("#dantoc_update").removeAttr("required");
    $("#tongiao_update").removeAttr("required");
    $("#noio_update").removeAttr("required");
    $("#dt_update").removeAttr("required");
    $("#tdhv_update").removeAttr("required");
</script>